*{
	margin:0%;
	padding: 0%;
}
body {
	background-color: black;
	width: auto;
	height: auto;
}
.Post-1 {
 background-color: white;
 text-align: center;
 width: 450px;
 margin: 0px auto ;
 height: 600px;
 border: 3px solid black
}
.Post-heider-1{
	background-color: white;
	display: flex;
	margin: black 10px;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
}
.rightheider {
 display: flex;
 justify-content: left;
 align-items: center;
 padding: 5px 15px;
}
.html-icon{
	padding-right: 7px;
}
.txt1{
	width: 70px;
	display: flex;
	justify-content: left;
}
.parrafo{
	display: flex;
	justify-content: left;
}
.leftheider {
	padding-left: 10px;
}
.Post-imagen-1{
	background-color: white;
}
.imagen1{
	width: 450px;
	height: 350px;
	border: 1px;
	padding: auto;
	justify-content: center;
	margin: 2px;
}
.Post-icons-1{
	padding: 20px;
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}